@tailwind base;
@tailwind components;
@tailwind utilities;

.bgfeatcherimg {
   background-image: url('/src/assets/home/featured.jpg');
}

.active {
   color: #EEFF25;
}
.bashbord > .active{
   color: white;
}
.cinzel {
   font-family: "Cinzel", serif;
}