@tailwind base;
@tailwind components;
@tailwind utilities;

.bgfeatcherimg {
   background-image: url('/src/assets/home/featured.jpg');
}

.active {
   color: #EEFF25;
}
.bashbord > .active{
   color: white;
}
.cinzel {
   font-family: "Cinzel", serif;
}
.buttonbg {
   background: linear-gradient(90deg, #835D23 0%, #B58130 100%);
   margin-top: 20px;
}